<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660064676496-6es6fr5514oe37sjt1itrnjgjplnc9ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660064676496-6es6fr5514oe37sjt1itrnjgjplnc9ce</string>
	<key>API_KEY</key>
	<string>AIzaSyCeU7_WdNGPvOLuS0frjoNNXFkHSCMDYjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>660064676496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dinosoftlabs.tiktik</string>
	<key>PROJECT_ID</key>
	<string>tictic-3b007</string>
	<key>STORAGE_BUCKET</key>
	<string>tictic-3b007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660064676496:ios:ff6c88bb971e1e4e024615</string>
	<key>DATABASE_URL</key>
	<string>https://tictic-3b007.firebaseio.com</string>
</dict>
</plist>